---
import { changeLanguage } from 'i18next';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Content from '../components/Content.astro';
import i18next, { t } from 'i18next';
import Sponsors from '../components/Sponsors.astro';
import Tariffs from '../components/Tariffs.astro';
import Card from '../components/Card.astro';
import { MarqueeReact } from '../components/MarqueeReact';
import {
	exhibitors1,
	exhibitors2,
	exhibitors3,
	exhibitors4,
	exhibitors5,
	exhibitors6,
} from '../data/constanst_logos';
import Contacts from '../components/Contacts.astro';
import Logos from '../components/Logos.astro';
import Footer from '../components/Footer.astro';
import type { visibilityChangeEvent } from '@tsparticles/engine';
import Galeria from '../components/Galeria.astro'
import  Responsive  from '../components/Videos.jsx';
import Results from '../components/Results.astro'
import Testimonials from '../components/Testimonials.astro'
import BuyersProfessional from '../components/BuyersProfessional.astro';

changeLanguage('es');
---

<Layout title='Renew Energy Plus'>
	<Hero />
	<div
		class='bg-white align-middle w-72 sm:w-[420px] m-auto py-12 sm:text-xl text-justify'
	>
		<p class='text-[#ed6b06] sm:text-2xl font-bold my-4'>RE+ MEXICO</p><strong
			>RE+ MEXICO</strong
		>
		<p set:html={t('home.solar_description')}></p>
	</div>
	<Content />
	<Sponsors />
	<Results/>
	<Testimonials/>
	<BuyersProfessional/>

	<p class='text-[#6C757D] text-3xl text-center font-bold p-10'>
		{t('menu.submenu_2.title')} 2024
	</p>
	<MarqueeReact images={exhibitors1} client:only="react"/>
	<MarqueeReact images={exhibitors2} , direction='left' client:only="react"/>
	<MarqueeReact images={exhibitors3} client:only="react" />
	<MarqueeReact images={exhibitors4} , direction='left' client:only="react" />
	<MarqueeReact images={exhibitors5} client:only="react" />
	<MarqueeReact images={exhibitors6} , direction='left' client:only="react" />
	<p class='text-[#6C757D] text-3xl text-center font-bold p-10'>
		{t('home.title-testimonials')}
	</p>
	 <!--        <Responsive client:only="react"/>  -->
	<Contacts />      
	<Galeria />


	<Logos />                    
	<Footer />
</Layout> 

<script>
	import '@justinribeiro/lite-youtube';
</script>
