---
import Layout from "../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";
import { program_premium } from "../data/constans_program_premium";
import { Program } from "../components/shared/Program.jsx";
import { sponsors } from "../data/constanst_logos.js";
import MarqueeSponsors from "../components/register/MarqueeSponsors.astro";

changeLanguage("es");

const translate = t("program", { returnObjects: true });
const base = i18next.language === "es" ? "" : `/${i18next.language}`;
---

<Layout title='RE+ Mexico | programa premium'>
  <video
    src='/video/bg_program_vip_720p.mp4'
    autoplay
    loop
    muted
    playsinline
    class='w-full h-full object-fill fixed top-0 z-[-1]'
  >
  </video>

  <div class='container mx-auto px-4 py-10'>
    <h1 class='text-left sm:text-center text-[#ed6b06] text-3xl sm:text-4xl md:text-5xl font-extrabold py-5'>
      {t('program.title_1')}
    </h1>
    
    <div class='text-white text-lg'>
      <p>
        {t('program.text_1')}
      </p>
      <p>
        {t('program.text_2')}
      </p>
    </div>
    <div
      class='container mx-auto py-5 px-4 grid place-items-center gap-5 rounded-xl'
    >
      <a
        href={`${base}/acceso-programa-vip`}
        class='card p-5 hover:scale-105 ease-in-out duration-300'
      >
        <span class='text-white z-10 font-extrabold text-xl'
          >{t('program.button1')}</span
        >
      </a>
    </div>
    <Program
      conferences={program_premium}
      translate={translate}
      language={i18next.language}
      client:load
    />
  </div>
</Layout>
<style>
  .card {
    width: fit-content;
    background: #f6f6f6;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }

  .card::before {
    content: '';
    position: absolute;
    width: 250px;
    background-image: linear-gradient(
      90deg,
      rgba(188, 1, 0, 1) 0%,
      rgba(215, 105, 1, 1) 100%
    );
    height: 30px;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .card::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(
      90deg,
      rgba(188, 1, 0, 1) 0%,
      rgba(215, 105, 1, 1) 100%
    );
    inset: 5px;
    border-radius: 15px;
  }
</style>
