---
import i18next, { t } from "i18next";
import { SegmentCard } from "./SegmentCard.jsx";

const currentLanguage = i18next.language;

const segments = [
  {
    imgSrc: "/img/imagen2027/icon_energia_solar.webp",
    imgAlt: "Segmento 1",
    percent: "60%",
    label: t("home.segments01"),
    hoverText:
      currentLanguage === "es"
        ? "De los visitantes están interesados en este segmento"
        : "Of visitors are interested in this segment",
    delay: 200,
  },
  {
    imgSrc: "/img/imagen2027/icon_eficiencia_energetica.webp",
    imgAlt: "Segmento 2",
    percent: "40%",
    label: t("home.segments02"),
    hoverText:
      currentLanguage === "es"
        ? "De los visitantes están interesados en este segmento"
        : "Of visitors are interested in this segment",
    delay: 400,
  },
  {
    imgSrc: "/img/imagen2027/segment_03.webp",
    imgAlt: "Segmento 3",
    percent: "47%",
    label: t("home.segments03"),
    hoverText:
      currentLanguage === "es"
        ? "De los visitantes están interesados en este segmento"
        : "Of visitors are interested in this segment",
    delay: 600,
  },
  {
    imgSrc: "/img/imagen2027/icon_energia_eolica.webp",
    imgAlt: "Segmento 4",
    percent: "31%",
    label: t("home.segments04"),
    hoverText:
      currentLanguage === "es"
        ? "De los visitantes están interesados en este segmento"
        : "Of visitors are interested in this segment",
    delay: 800,
  },
  {
    imgSrc: "/img/imagen2027/icon_hidrogeno_renovable.webp",
    imgAlt: "Segmento 5",
    percent: "32%",
    label: t("home.segments05"),
    hoverText:
      currentLanguage === "es"
        ? "De los visitantes están interesados en este segmento"
        : "Of visitors are interested in this segment",
    delay: 1000,
  },
  {
    imgSrc: "/img/imagen2027/icon_servicio_consultoria.webp",
    imgAlt: "Segmento 6",
    percent: "33%",
    label: t("home.segments06"),
    hoverText:
      currentLanguage === "es"
        ? "De los visitantes están interesados en este segmento"
        : "Of visitors are interested in this segment",
    delay: 1200,
  },
  {
    imgSrc: "/img/imagen2027/icon_componentes_equipo.webp",
    imgAlt: "Segmento 7",
    percent: "42%",
    label: t("home.segments07"),
    hoverText:
      currentLanguage === "es"
        ? "De los visitantes están interesados en este segmento"
        : "Of visitors are interested in this segment",
    delay: 1400,
  }
];
---

<section
  class="h-auto flex flex-col items-center justify-center sm:gap-4 px-4 sm:px-8 lg:px-16 xl:px-24 py-10 sm:py-12"
>
  <div data-aos="fade-down" data-aos-duration="2000" data-aos-delay="100">
    <h2
      class="text-3xl sm:text-4xl lg:text-5xl text-center font-bold mb-8 max-w-3xl mx-auto text-[#3333ff]"
    >
      {t("home.segments_title")}
    </h2>
  </div>


  <div class="flex flex-wrap justify-center gap-2 sm:gap-8 py-0 w-full max-w-7xl mx-auto">
  {segments.map((segment) => (
    <div class="basis-[48%] sm:basis-[22%]">
      <SegmentCard
        imgSrc={segment.imgSrc}
        imgAlt={segment.imgAlt}
        percent={segment.percent}
        label={segment.label}
        hoverText={segment.hoverText}
        delay={segment.delay}
      />
    </div>
  ))}
</div>


</section>