---
import 'photoswipe/style.css'

interface Props {
  images: Array<{
    src: string
    alt: string
    width?: number
    height?: number
  }>
}

const { images } = Astro.props as Props
---

<div class='grid grid-cols-3 max-w-6xl gap-10 mx-auto' id='gallery'>
  {
    images?.map((image) => (
      <a
        href={image.src}
        data-pswp-width={image.width}
        data-pswp-height={image.height}
        target='_blank'
      >
        <img src={image.src} alt={image.alt} />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox'
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('photoswipe'),
  })
  lightbox.init()
</script>
