---
import { t } from "i18next";
import { MarqueeReact } from "./MarqueeReact";
import { aliados } from "../data/constanst_aliados";
import { media_platinum, media_partners } from "../data/constanst_logos";
---

<section class="py-10 container mx-auto px-4">
  
  <!-- Comite organizador -->
  <p class="text-[#565078] font-bold text-4xl text-center py-10 uppercase">
    {t("home.organized_by")} :
  </p>
  <div
    class="mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:p-2"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <a href="https://www.iegexpo.it/en/" target="_blank" rel="noreferrer">
      <img
        src="/img/italianExhibitionGroup.webp"
        alt="Logo Italian Exhibition Gropup"
        class="w-[150px] h-[82px] my-auto"
      />
    </a>
    <a href="https://www.messe.de/en/" target="_blank" rel="noreferrer">
      <img
        src="/img/deutscheMesse.webp"
        alt="Logo DeutscheMesse"
        class="w-[250px] h-[54px] my-auto"
      />
    </a>
    <a href="https://re-plus.events/es/" target="_blank" rel="noreferrer">
      <img
        src="/img/RE_Events_orange.webp"
        alt="Logo RE Events Orange"
        class="w-[100px] h-[80px] my-auto"
      />
    </a>
    <a href="https://pv.snec.org.cn/" target="_blank" rel="noreferrer">
      <img
        src="/img/snec-logo-new.webp"
        alt="Logo DeutscheMesse"
        class="w-[228px] h-[114px] my-auto"
      />
    </a>
  </div>

  <!-- Powered by -->
  <p class="text-[#565078] font-bold text-4xl text-center pt-12 pb-6 uppercase ">
    {t("home.powered_by")}
  </p>
  <div
    class="mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:p-2"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <a href="https://amif.org.mx/" target="_blank" rel="noreferrer">
      <img
        src="/img/amif.webp"
        alt="Logo amif"
        class="w-[200px] h-[59px] my-auto"
      />
    </a>
    <a href="https://asolmex.org/" target="_blank" rel="noreferrer">
      <img
        src="/img/asolmex.webp"
        alt="Logo Asolmex"
        class="w-[150px] h-[150px] my-auto"
      />
    </a>
    <a href="https://seia.org/" target="_blank" rel="noreferrer">
      <img
        src="/img/seiaSolarEnergy.webp"
        alt="Logo seia Solar Energy"
        class="w-[200px] h-[62px] my-auto"
      />
    </a>
    <a href="https://sepapower.org/" target="_blank" rel="noreferrer">
      <img
        src="/img/SmartElectric.webp"
        alt="Logo Smart Electric"
        class="w-[200px] h-[62px] my-auto"
      />
    </a>
  </div>

  <!-- Aliados estrategicos -->
  <p class="text-[#565078] font-bold text-4xl text-center pt-12 pb-6 uppercase ">
    {t("home.strategic_partners")} :
  </p>
  <div
    class="mt-5 grid grid-cols sm:grid-cols-8 gap-8"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    {
      aliados.map((aliado) => (
        <a href={aliado.link} target="_blank" rel="noreferrer">
          <img src={aliado.src} alt={aliado.alt} width={aliado.width} />
        </a>
      ))
    }
  </div>

  <!-- medios aliados platinos -->
  <div class=" text-[#565078] font-bold text-4xl text-center pt-12 pb-6 uppercase ">
    {t("home.media_platinum")}
  </div>
  <div
    class="grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:p-1"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    {
      media_platinum.map((medio) => (
        <a href={medio.link} target="_blank" rel="noreferrer">
          <img src={medio.src} alt={medio.alt} width={medio.width} />
        </a>
      ))
    }
  </div>

  <!-- Medios aliados -->
  <div class=" text-[#565078] font-bold text-4xl text-center pt-12 pb-6 uppercase ">
    {t("home.media_allies")}
  </div>
  <div
    class="grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:p-1"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    {
      media_partners.map((medio) => (
        <a href={medio.link} target="_blank" rel="noreferrer">
          <img src={medio.src} alt={medio.alt} width={medio.width} />
        </a>
      ))
    }
  </div>

</section>
<style>
  .title {
    background-image: linear-gradient(
      90deg,
      rgba(118, 110, 166) 0%,
      rgba(86, 80, 120) 100%
    );
  }
</style>
