---
import i18next, { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'

const lang = i18next.language
const base = lang === 'es' ? '' : `/${lang}`
---

<nav class='bg-gray-800 sticky top-0 z-10'>
  <div class='flex flex-wrap justify-between gap-10 px-6 py-3'>
    <a
      href={`${base}/`}
      class='flex items-center space-x-3 rtl:space-x-reverse'
    >
      <img
        src='/img/replusR.webp'
        class='w-24 h-auto lg:h-20 ms-5 me-5 lg:my-0 my-4'
        alt='Renew Energy Plus 2025'
      />
    </a>
    <div class='flex items-center md:order-2 button-language'>
      <LanguageSelector
        showFlag={true}
        aria-label='Select language'
        class='block w-full p-2.5 rounded-lg bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500'
      />
    </div>
    <div
      class='flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse'
    >
      <button
        data-collapse-toggle='mega-menu'
        type='button'
        class='inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'
        aria-controls='mega-menu'
        aria-expanded='false'
      >
        <span class='sr-only'>Open main menu</span>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='size-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
        </svg>
      </button>
    </div>
    <div
      id='mega-menu'
      class='text-white items-center justify-between hidden w-full md:flex md:w-auto md:order-1'
    >
      <ul
        class='flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse uppercase'
      >
        <li>
          <button
            id='dropdownExhibitors'
            data-dropdown-toggle='dropdownNavbar1'
            data-dropdown-trigger='hover'
            class='flex items-center justify-between w-full py-2 pl-3 pr-4 font-bold border-b border-gray-300 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
          >
            {t('menu.submenu_1.title')}
          </button>
          <div
            id='dropdownNavbar1'
            class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 shadow w-auto'
          >
            <ul
              class='py-2 text-sm text-gray-700'
              aria-labelledby='dropdownLargeButton'
            >
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={`${base}/acerca-de-replus-mexico`}
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_1.option_1')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={`${base}/acerca-de-replus-eventos`}
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_1.option_2')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a href={`${base}/acerca-de-snec`} class='block px-4 py-2'>
                  {t('menu.submenu_1.option_3')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href='https://igeco.mx/'
                  target='_blank'
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_1.option_4')}
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id='dropdownExhibitors'
            data-dropdown-toggle='dropdownNavbar2'
            data-dropdown-trigger='hover'
            class='flex items-center justify-between w-full py-2 pl-3 pr-4 font-bold border-b border-gray-300 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
          >
            {t('menu.submenu_2.title')}
          </button>
          <div
            id='dropdownNavbar2'
            class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 shadow w-auto'
          >
            <ul
              class='py-2 text-sm text-gray-700'
              aria-labelledby='dropdownLargeButton'
            >
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/RE-FS-2026-ESP.pdf'
                    : '/doc/RE-FS-2026-ENG.pdf'}
                  target='_blank'
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_2.option_6')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href='/doc/REMEX_2025_SpaceAgreement_V2_23_08_24.pdf'
                  target='_blank'
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_2.option_7')}
                </a>
              </li>

              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href='/doc/EM-RE-MEX-2025-022725-ltas-Model.pdf'
                  target='_blank'
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_2.option_8')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/RE-MEXICO-SPONSORSHIPS-2025-ENG-13022025_compressed.pdf'
                    : '/doc/RE-MEXICO-SPONSORSHIPS-2025-ESP-13022025_compressed.pdf'}
                  target='_blank'
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_2.option_14')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a href={`${base}/contacto`} class='block px-4 py-2'>
                  {t('menu.submenu_2.option_1')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a href={`${base}/por-que-exponer`} class='block px-4 py-2'>
                  {t('menu.submenu_2.option_2')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a href={`${base}/perfil-expositor`} class='block px-4 py-2'>
                  {t('menu.submenu_2.option_3')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={`${base}/servicios-expositores`}
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_2.option_4')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/MANUAL-DEL-EXPOSITOR-RE-2025v2.pdf'
                    : '/doc/MANUAL-DEL-EXPOSITOR-RE-ENG-2025v2.pdf'}
                  target='_blank'
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_2.option_12')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a href={`${base}/toolkit`} class='block px-4 py-2'>
                  TOOLKIT 2025
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id='dropdownExhibitors'
            data-dropdown-toggle='dropdownNavbar3'
            data-dropdown-trigger='hover'
            class='flex items-center justify-between w-full py-2 pl-3 pr-4 font-bold border-b border-gray-300 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
          >
            {t('menu.submenu_3.title')}
          </button>
          <div
            id='dropdownNavbar3'
            class='dropdown z-[100] hidden font-normal bg-white divide-y divide-gray-100 shadow w-auto'
          >
            <ul
              class='py-2 text-sm text-gray-700'
              aria-labelledby='dropdownLargeButton'
            >
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={`${base}/por-que-visitar`}
                  target='_blank'
                  class='block px-4 py-2'>{t('menu.submenu_3.option_1')}</a
                >
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a href={`${base}/perfil-visitante`} class='block px-4 py-2'
                  >{t('menu.submenu_3.option_2')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href='/doc/LETTER-TEMPLATE-2025-RE.pdf'
                  target='_blank'
                  class='block px-4 py-2'>{t('menu.submenu_3.option_3')}</a
                >
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a href='/hoteles' target='_blank' class='block px-4 py-2'
                  >{t('menu.submenu_3.option_4')}</a
                >
              </li>
              {
                /* 
                <li class='hover:bg-blue-100 font-semibold'>
                  <a href={`${base}/programa-premium`} class='block px-4 py-2'>
                    {t('menu.submenu_2.option_9')}
                  </a>
                </li>
              */
              }

              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={`${base}/contenido-gratuito/enlightenment-area`}
                  class='block px-4 py-2'
                >
                  {t('menu.submenu_2.option_13')}
                </a>
              </li>
              <li class='hover:bg-blue-100 font-semibold'>
                <a
                  href={`${base}/installer-award-mexico`}
                  class='block px-4 py-2'
                >
                  INSTALLER AWARDS MEXICO
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id='dropdownExhibitors'
            data-dropdown-toggle='dropdownNavbar4'
            data-dropdown-trigger='hover'
            class='flex items-center justify-between w-full py-2 pl-3 pr-4 font-bold border-b border-gray-300 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
          >
            {t('menu.submenu_4.title')}
          </button>
          <div
            id='dropdownNavbar4'
            class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 shadow w-auto'
          >
            <ul
              class='py-2 text-sm text-gray-700'
              aria-labelledby='dropdownLargeButton'
            >
              <li class='font-semibold'>
                <span class='ps-2 text-gray-500 font-bold'>SSM 2024</span>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/AFTER_SHOW_REPORT_ECO_SOLAR_ESP_AF_2024_v3.pdf'
                    : '/doc/AFTER_SHOW_REPORT_ECO_SOLAR_ENG_AF_2024_v3.pdf'}
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.results')}
                </a>
                <a
                  href='/doc/DIRECTORIO SOLAR 2024_ACC_09_05_2024.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.directory')}
                </a>
              </li>
              <li class='font-semibold'>
                <span class='ps-2 text-gray-500 font-bold'>SSM 2023</span>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/REPORTE-DE-RESULTADOS-SSM-2023-ESP.pdf'
                    : '/doc/RESULTS-REPORT-SSM-2023-ENG.pdf'}
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.results')}
                </a>
                <a
                  href='/doc/Directorio-SSM-2023.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.directory')}
                </a>
              </li>
              <li class='font-semibold'>
                <span class='ps-2 text-gray-500 font-bold'>SPM 2022</span>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/REPORTE-DE-RESULTADOS-SSM-2022-ESP.pdf'
                    : '/doc/RESULTS-REPORT-SSM-2022-ENG.pdf'}
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.results')}
                </a>
                <a
                  href='/doc/Directorio-SSM-2022.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.directory')}
                </a>
              </li>
              <li class='font-semibold'>
                <span class='ps-2 text-gray-500 font-bold'>SPM 2021</span>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/REPORTE-DE-RESULTADOS-SSM-2021-ESP.pdf'
                    : '/doc/RESULTS-REPORT-SSM-2021-ENG.pdf'}
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.results')}
                </a>
                <a
                  href='/doc/Directorio-SSM-2021.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.directory')}
                </a>
              </li>
              <li class='font-semibold'>
                <span class='ps-2 text-gray-500 font-bold'>SPM 2019</span>
                <a
                  href={i18next.language === 'es'
                    ? '/doc/REPORTE-DE-RESULTADOS-SSM-2019-ESP.pdf'
                    : '/doc/RESULTS-REPORT-SSM-2019-ENG.pdf'}
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.results')}
                </a>
                <a
                  href='/doc/Directorio-SSM-2021.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-blue-100'
                  >{t('menu.submenu_4.directory')}
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id='dropdownExhibitors'
            data-dropdown-toggle='dropdownNavbar5'
            data-dropdown-trigger='hover'
            class='flex items-center justify-between w-full py-2 pl-3 pr-4 font-bold border-b border-gray-300 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
          >
            {t('menu.submenu_5.title')}
          </button>
          <div
            id='dropdownNavbar5'
            class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 shadow w-auto'
          >
            <ul
              class='py-2 text-sm text-gray-700'
              aria-labelledby='dropdownLargeButton'
            >
              <li class='hover:bg-blue-100 font-semibold'>
                <a href={`${base}/gallery`} class='block px-4 py-2'>
                  {t('menu.submenu_5.option_1')}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
